*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: 0;
}

ul,
ol,
li {
    list-style: none;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: Montserrat;
  font-size: 16px;
  color: rgb(73, 72, 72);  
 
}


.img {
    width: 100%;
    height: auto;        
        
}

.main {
    flex: 1 1 auto;
    
}

.body,
#banner-div,
#main-info-div,
.start-learning,
#thesis-exhibit,
.learn-container, 
.mobile-learn-container,
.main-info-container,
.footer {
    border-left: 2px solid gray;
    border-right: 1px solid gray;
}

.header-desktop {
    display: flex;
    height: 64px;
    width: 100%;
    left: 0;
    top: 0;
    
}

.header-mobile-list {
    display: none;
}

/* for mobile */

@media only screen and (max-width: 768px) {

    .header-desktop {
        display: none;
    }  
    
    .header-mobile-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 64px;
    }

    .learn-container {
        width: 100%;
        flex-direction: column;
    }
    
    .main-info-img,
    .under-banner-text,
    .horizontal-lines {
        display: none;
    }
}

.hearer-logo {
    height: 50px;
    margin-left: 20px;
    margin-top: 0.6em;
    
}

.brand {
    font-size: 24px;    
    position: relative;
    line-height: 2.7em;
}

.header-desktop-list {
    position: absolute;
    display: flex; 
    font-size: 30px;
    font-weight: 500;
    line-height: 2em;
    right: 24px;  
}

.header-list-item {
    color: rgb(73, 72, 72); 
    padding-left: 16px;
}

.menu-item {
    margin: 0 0 0 16px;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.banner-text {
   font-size: large; 
   display: flex;
   flex-direction: column;
   justify-content: center;  
}

@media (max-width: 768px) {
    .mobile-banner-text {
        display: flex;
        flex-direction: column;
        padding-left: 16px;
        max-width: 97.5%;
    }
}

.banner-text input {
    text-align: center;
    padding: 8px 10px;
    border-radius: 4px;
    color: white;
    background-color: #3f3838;
    cursor: pointer;
    font-size: 28px;
    margin-bottom: 32px;
}

@media (max-width:768px) {
    .banner-text input {
        background-color: #8b8484;
        font-size: 28px;
        margin-bottom: 32px;
        padding: 20px 10px;
    }
}

.learn-container {
    display: flex;
    margin: 0 auto;
    background-color: lightgray;
    max-width: 100%;
}

.banner {
    margin: 32px 24px;
    flex-flow: wrap row;
    height: auto;
    max-width: 100%;
}

@media (max-width:768px) {
    .mobile-banner {
        margin: 0;
    }
}

.learn-smth {
    padding-top: 5px;
    font-weight: 700;
    font-size: 70px;
    line-height: 1.1;
}

.lorem {
    font-weight: 600;
    font-size: 38px;
    padding-top: 40px;
    padding-bottom: 60px;
}
  
@media (max-width: 768px) {
    .lorem {
        padding: 20px 0 27px 0;
    }
}

/*Main info section*/

.main-info-container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .main-info-container {
        display: flex;
        flex-direction: column;
    }
}

.main-info-banner-and-text {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin-right: 2px;
}

@media (max-width: 768px) {
    .main-info-banner-and-text {
        display: none;
    }
}

.main-info-banner {
    margin: 32px 24px 25px 24px;
    flex-flow: wrap row;
}

.main-info-header {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 25px;
}

.curabitur {
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
}

.signature {
    font-size: 22px;
    font-weight: 500;
    padding: 84px 0 32px 0;
}

.vertical-line {
    color: lightgrey;
    border: 1px solid;
    position: relative;
    left: 1152px;
}

.horizontal-lines {
    color: lightgrey;
    border: 2px solid;
    position: relative;
    padding-top: 2px;
    top: 306px;
}

.under-banner-text {
    margin-left: 24px;
}

.main-info-images-div {
    display: flex;
    flex-direction: column;
    margin: 32px 0 32px 8px;
    max-width: 100%;
}

@media (max-width: 768px) {
    .main-info-images-div {
        margin: 16px 16px 0px 16px;
        background-color: white;
    }
}

.main-info-images-div:last-child {
    padding-bottom: 0px;
}

.photos-and-headers-1 {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .photos-and-headers-1 {
        display: flex;
        flex-direction: column;
    }
}

.photos-and-headers-2 {
    display: flex;
}

@media (max-width: 768px) {
    .photos-and-headers-2 {
        display: flex;
        flex-direction: column;
    }
}

.photos-and-headers-3 {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
}

@media (max-width: 768px) {
    .photos-and-headers-3 {
        display: flex;
        flex-direction: column;
        background-color: white;
    }
}

@media (max-width: 768px) {
    .header-desktop {
        display: none;
    }
}

@media (min-width: 768px) {
    .header-mobile {
        display: none;
    }
}

.main-info-headers-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3em;
    padding-left: 50px;
    line-height: 1.7;
}

@media (max-width: 768px) {
    .main-info-headers-1 {
        padding: 30px 15px;
    }
}

.main-info-headers-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3em;
    padding-left: 50px;
    line-height: 1.7;
}

@media (max-width: 768px) {
    .main-info-headers-2 {
        padding: 30px 15px;
    }
}

.main-info-headers-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3em;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 1.7;
    
}

@media (max-width: 768px) {
    .main-info-headers-3 {
        padding: 30px 0 22px 16px;
    }
}

.small-img-1 {
    
    padding: 0 0 38px 18px;
}

@media (max-width: 768px) {
    .small-img-1 {
        display: none;
    }
}


@media (min-width: 768px) {
    .mobile-small-img-1 {
        display: none;
    }
}

.small-img-2 {
    padding: 24px 0 16px 18px;
}

@media (max-width: 768px) {
    .small-img-2 {
        display: none;
    }
}

@media (min-width: 768px) {
    .mobile-small-img-2 {
        display: none;
    }
}

.small-img-3 {
    
    padding: 16px 0 16px 18px;
}

@media (max-width: 768px) {
    .small-img-3 {
        display: none;
    }
}

@media (min-width: 768px) {
    .mobile-small-img-3 {
        display: none;
    }
}


/*start-learning-section*/


.start-learning {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .start-learning {
        background-color: white;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }
}

.start-learning-header {
    padding: 32px 0;
    text-align: center;
    font-size: 34px;
    font-weight: 500;
}

@media (max-width:768px){
    .start-learning-header{
        padding: 27px 0 10px 0;
    }
}

.line-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 72px 32px 72px;
}

@media (max-width: 768px) {
    .line-1 {
        display: none;
    }
}

.left-block {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-right: 32px;
}

.center-block {
    margin-right: 32px;
    background-color: white;
}

.right-block {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.start-learning-images {
    height: auto;
}

.sub-header-text {
    font-size: 32px;
    margin: ;
}

.courses,
.courses-description {
    font-size: 21px;
    padding-top: 8px;
    color: gray;
}

.under-imgs-text {
    margin: 16px 0 24px 16px;
    line-height: 1.7;
}


/*--mobile-start-learning-section--*/


.mobile-start-learning-container {
    margin-bottom: 24px;
}

@media (min-width: 768px) {
    .mobile-start-learning-container {
        display: none;
    }
}

.start-learning-items {
    padding: 24px 16px;
    margin: 8px 16px;
    background-color: lightgray;
}

@media (min-width: 768px) {
    .start-learning-items {
        display: none;
    }
}  


/*--Line-2--*/


.line-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 72px 32px 72px;
}

@media (max-width: 768px) {
    .line-2 {
        display: none;
    }
}

.left-block {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-right: 32px;
}

.center-block {
    margin-right: 32px;
    background-color: white;
}

.right-block {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.start-learning-images {
    height: auto;
}

.sub-header-text {
    font-size: 32px;
    margin: ; 
}
.courses,
.courses-description {
    font-size: 21px;
    padding-top: 8px;
    color: gray;
}

.under-imgs-text {
    margin: 16px 0 24px 16px;
    line-height: 1.7;
}


/*Thesis exhibit section*/


.thesis-exhibit-header {
    padding: 32px 0;
    text-align: center;
    font-size: 34px;
    font-weight: 500;
}

@media (max-width:768px) {
    .thesis-exhibit-header {
        padding: 27px 0 10px 0;
    }
}

.left-and-right {
    display: flex;
    flex-direction: row;
}

.video-container {
    margin: 0 24px 24px 24px;
    width: 60%;
}

.right-info {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.fisma {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
}

.fisma-image {
    padding: 16px;
}

.fisma-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.7;
}

.now-and-then {
    display: flex;
    flex-direction: row;  
}

.now-and-then-image {
    padding: 16px;
}

.now-and-then-text {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    line-height: 1.7;
}
   
.under-video-header {
    padding: 30px 0 15px 0;
}

.curabitur-2 {
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .under-video-header,
    .undervideo-text,
    .right-info,
    .now-and-then {
        display: none;
    }
}

@media (max-width: 768px) {
    .left-and-right {
        display: block;
    }
}

@media (max-width: 768px) {
    .video-container {
        width: 100%;
        margin: 0 0;
        border-top: 2px solid gray;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-top: 1px solid lightgray;
    padding-left: 24px;
}

@media (max-width: 768px) {
    .footer {
        border-top: 0;
    }
}

.footer-right-items {
    display: flex;
    flex-direction: row;
    padding-right: 24px;
}

.terms {
    padding-right: 10px;
}

@media (max-width: 768px) {
    .copyrights {
        padding-top: 35px;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer-right-items {
        display: none;
    }
}