*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: Montserrat;
  color: rgb(73, 72, 72);  
}

img {
    vertical-align: top;
}

.header {
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.hearer-logo {
    height: 50px;
    margin-left: 20px;
    margin-top: 0.6em;
    
}

.brand {
    font-size: 24px;    
    position: relative;
    line-height: 2.7em;
    
}

.header-list {
    display: flex; 
    position: absolute;
    right: 24px;
    font-size: 24px;
    align-items: center;
    line-height: 2.7em;
}

.signin {
    padding-left: 16px;   
    
}

.forcompanies {
    padding-left: 16px;
}

.online {
    padding-left: 16px;
    
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

#banner-div {
    top: 64px;
    background-color: lightgray;
    display: flex;
    
}


.banner-text {
   padding-top: 190px;
    
}

.banner {
    padding: 32px 24px;
    width: 60%;
    
}


.learn-smth {
    font-weight: 700;
    font-size: 70px;
    line-height: 1.2;
    display: inline-block;
    margin-bottom: 0px;
    
}

.lorem {
    font-weight: 600;
    font-size: 38px;
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 60px;
}

.start-here {
    font-size: 33px;
    background-color: rgb(73, 72, 72); 
    color: white;
    text-align: center;
    display: inline-block;
    padding: 8px 210px;
    
}

#main-info-div {


}

.main-info-banner {
    padding: 32px 24px;
    width: 60%;
}

.main-info-header {
    font-size: 50px;
    font-weight: 800;
    padding: 0 0 32px 24px;
}

.curabitur {
    font-size: 25px;
    font-weight: 400;
    padding-left: 24px;
    
    line-height: 1.5;
}

.signature {
    font-size: 22px;
    font-weight: 500;
    padding: 32px 24px;
}