*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: 0;
}

ul,
ol,
li {
    list-style: none;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: Montserrat;
  font-size: 16px;
  color: rgb(73, 72, 72);  
}

img {
    vertical-align: top;
}

.header {
    
    display: flex;
    height: 64px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    
}

.hearer-logo {
    height: 50px;
    margin-left: 20px;
    margin-top: 0.6em;
    
}

.brand {
    font-size: 24px;    
    position: relative;
    line-height: 2.7em;
}


.header-list {
    position: absolute;
    display: flex; 
    font-size: 30px;
    font-weight: 500;
    line-height: 2em;
    right: 24px;
    
}

a {
    color: rgb(73, 72, 72); 
    padding-left: 16px;
}

.menu-item {
    margin: 0 0 0 16px;
    
}


.wrapper {
    min-height: 100%;
    overflow: hidden;
}

#banner-div {
    display: flex;
    width: 100%;
    top: 64px;
    background-color: lightgray;
    align-items: center;
    
}

.banner-text {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin: 24px 0px;
  
}

.start-here {
    text-align: center;
    font-size: 33px;
    background-color: rgb(73, 72, 72); 
    color: white;
    padding: 8px 75px;
    width: 75%;
    
}

.banner {
    padding: 32px 24px;
    width: 60%;
    
}

.learn-smth {
    
    font-weight: 700;
    font-size: 70px;
    line-height: 1.2;
    
}

.lorem {
    font-weight: 600;
    font-size: 38px;
    padding-top: 40px;
    padding-bottom: 60px;
    
}
  
#main-info-div {
    display: flex;
    flex-direction: column;
    position: relative;
}

.vertical-line {
    color: lightgrey;
    border: 1px solid;
    position: absolute;
    left: 1142px;
    top: 0;
    bottom: 0;
}

.horizontal-lines {
    color: lightgrey;
    width: 100%;
    border: 2px solid;
    position: absolute;
    display: flex;
    padding-top: 2px;
    top: 287px;
}

.under-banner-text {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.main-info-images-div {
    display: flex;
    position: absolute;
    padding: 32px 24px 16px 8px;
    margin-left: 1134px;
    flex-flow: column wrap;
    
    
}

.main-info-img {
    width: 35%;
    height: auto;
    
}

.main-info-banner {
    padding: 32px 24px;
    width: 60%;
}

.main-info-header {
    font-size: 50px;
    font-weight: 800;
    padding: 0 0 32px 24px;
}

.curabitur {
    font-size: 25px;
    font-weight: 400;
    padding-left: 24px;
    
    line-height: 1.5;
}

.signature {
    font-size: 22px;
    font-weight: 500;
    padding: 32px 24px;
}

.orientation {
    padding: 0 24px 0px 16px;
}

.campus {
    padding: 16px 24px 0px 16px;
}

.guest {
    padding: 16px 24px 16px 16px;
    background-color: lightgrey;
    width: 100%;
    height: auto;
   
}   

.main-info-headers {
    
    float: right;
    font-weight: 600;
    font-size: 38px;
}

